// COLORS
$primary-color: #00b998;
$secondary-color: #b3fff1;
$dark-gray: #1c1c1c;

// FONTS
$main-font: 'Montserrat', sans-serif;

$huge-font: 4rem;
$big-font: 2.5rem;
$md-font: 1.5rem;
$sm-font: 1rem;
