html,
* {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #1c1c1c;
  height: 100%;
}

html {
  height: 100%;
}

section {
  height: 100%;
}

.title {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  margin: 0px;
}
@media (max-width: 37.5em) {
  .title {
    font-size: 2.5rem;
  }
}

h1 {
  color: #00b998;
}

a {
  color: #00b998;
  text-decoration: none;
  transition: all 0.25s;
}
a:hover {
  cursor: pointer;
  color: #b2fff1;
}

nav {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: #2b2b2b;
  z-index: 50;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
nav ul > li {
  color: #00b998;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 20px;
}
@media (max-width: 56.25em) {
  nav ul > li {
    font-size: 1rem;
    padding: 0 8px;
  }
}
nav ul {
  list-style-type: none;
  text-align: right;
  padding-right: 40px;
}
@media (max-width: 56.25em) {
  nav ul {
    padding: 0;
    text-align: center;
  }
}
nav .active {
  color: #b3fff1;
}

.sticky {
  position: fixed;
  opacity: 1;
  animation: slide-in 1s;
}

@keyframes slide-in {
  0% {
    top: -55px;
  }
  100% {
    top: 0;
  }
}
.btn {
  border: 3px solid #00b998;
  font-size: 1.5rem;
  padding: 20px 40px;
  color: #00b998;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: none;
  transition: all 0.25s;
  position: relative;
}
@media (max-width: 37.5em) {
  .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
}
.btn:hover {
  color: #1c1c1c;
  cursor: pointer;
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #00b998;
  height: 100%;
  width: 0;
  transition: all 0.25s;
  z-index: -1;
}
.btn:hover::after {
  height: 100%;
  width: 100%;
}

.send-msg:hover {
  color: #00b998;
  cursor: pointer;
}
.send-msg::after {
  background-color: #1c1c1c;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-15%);
  transition: all 1s;
}

.hidden.title {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-20%);
  transition: all 0.5s;
}

.show.title {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.bar:nth-child(2) {
  transition-delay: 200ms;
}

.bar:nth-child(3) {
  transition-delay: 400ms;
}

.bar:nth-child(3) {
  transition-delay: 600ms;
}

.bar:nth-child(4) {
  transition-delay: 800ms;
}

.bar:nth-child(5) {
  transition-delay: 1000ms;
}

.project:nth-child(2) {
  transition-delay: 200ms;
}

.project:nth-child(3) {
  transition-delay: 400ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
  }
}
.title,
.main-title {
  font-size: 0px;
}

.main-title {
  padding-bottom: 30px;
}

.animated-letters {
  font-size: 4rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .animated-letters {
    font-size: 2.5rem;
  }
}

.word {
  display: inline-block;
}

.animated {
  animation: jump 0.4s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
#home {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
}
#home .btn {
  letter-spacing: 2px;
}

#main-title {
  color: #00b998;
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
}
@media (max-width: 37.5em) {
  #main-title {
    font-size: 1.8rem;
    width: 90%;
  }
}

canvas {
  position: absolute;
}

#about {
  background: linear-gradient(90deg, #00b998 9.76%, #77a4bd 89.76%);
  opacity: 0.9;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: auto;
  padding-bottom: 150px;
}
#about .title {
  color: #1c1c1c;
}
@media (max-width: 75em) {
  #about {
    padding-bottom: 50px;
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
  }
}

.about-content {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bars {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 40%;
  padding: 100px;
}
.bars .label {
  font-size: 25px;
  text-align: left;
}
.bars .bar-bg {
  width: 100%;
  height: 5px;
  background-color: #1c1c1c;
}
.bars .bar-fill {
  height: 5px;
  background-color: #b3fff1;
}
.bars .html-bar .bar-fill {
  width: 90%;
}
.bars .css-bar .bar-fill {
  width: 80%;
}
.bars .js-bar .bar-fill {
  width: 60%;
}
.bars .react-bar .bar-fill {
  width: 20%;
}
.bars .node-bar .bar-fill {
  width: 10%;
}
@media (max-width: 56.25em) {
  .bars {
    width: 100%;
  }
}

.desc {
  width: 40%;
}
.desc .desc-title {
  font-size: 2em;
  font-weight: 600;
}
.desc img {
  height: 150px;
  border-radius: 50%;
}
.desc .description {
  font-size: 1.5rem;
}
.desc .description a {
  color: #b2fff1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 56.25em) {
  .desc {
    width: 80%;
  }
}

.gradient-bg {
  background: linear-gradient(90deg, #00b998 9.76%, #77a4bd 89.76%);
  opacity: 0.9;
}

#portfolio {
  height: auto;
  padding-bottom: 200px;
  background: #1c1c1c;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 100%);
}
#portfolio .title {
  color: #00b998;
  text-align: right;
  margin-right: 100px;
}
@media (max-width: 75em) {
  #portfolio .title {
    text-align: center;
    margin: 0;
  }
}
#portfolio .gallery {
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio .gallery li {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
}
@media (max-width: 56.25em) {
  #portfolio .gallery li {
    width: 100%;
  }
}
#portfolio .gallery .details {
  width: 40%;
}
@media (max-width: 37.5em) {
  #portfolio .gallery .details {
    width: 80%;
    padding: 20px 0;
  }
}
#portfolio .gallery .project-title {
  font-size: 2.2em;
  margin: 0;
}
#portfolio .gallery img {
  height: 200px;
  float: left;
  margin-right: 30px;
}
@media (max-width: 37.5em) {
  #portfolio .gallery img {
    width: 80%;
    height: auto;
  }
}
#portfolio .gallery .project-desc {
  color: #eee;
  font-size: 1.1rem;
  text-align: justify;
}
#portfolio .gallery .project-btn {
  font-size: 1.2em;
  border: 2px solid #00b998;
  padding: 10px;
  margin-right: 20px;
}
#portfolio .gallery .project-src {
  font-size: 1.2em;
}
@media (max-width: 75em) {
  #portfolio {
    padding-bottom: 50px;
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
  }
}

#contact {
  height: auto;
  background: linear-gradient(90deg, #00b998 9.76%, #77a4bd 89.76%);
  opacity: 0.9;
}
#contact .title {
  text-align: right;
  margin-right: 100px;
  color: #1c1c1c;
}
@media (max-width: 75em) {
  #contact .title {
    text-align: center;
    margin: 0;
  }
}
#contact ul {
  list-style-type: none;
  padding-left: 0;
}

.send-msg__container {
  height: auto;
  padding-bottom: 20px;
}

.send-msg {
  color: #1c1c1c;
  border-color: #1c1c1c;
  border-radius: 0px;
  width: auto;
  height: auto;
}
.send-msg:hover {
  background-color: #1c1c1c;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  background-color: #1c1c1c;
  height: 35px;
  width: 40%;
  color: #eee;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
@media (max-width: 75em) {
  input,
  textarea {
    width: 80%;
  }
}

#msg {
  box-sizing: border-box;
  min-height: 40vh;
  min-width: 41%;
  max-width: 41%;
}
@media (max-width: 75em) {
  #msg {
    min-width: 82%;
    max-width: 82%;
  }
}

label {
  display: inline-block;
  width: 40%;
  text-align: left;
  font-weight: 600;
}
@media (max-width: 75em) {
  label {
    width: 80%;
  }
}
label span {
  color: red;
}

footer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer p {
  font-size: 1.2em;
}

.footer-socials {
  list-style-type: none;
  display: block;
  padding: 0;
}
.footer-socials li {
  display: inline-block;
  width: 50px;
}
.footer-socials svg {
  fill: #00b998;
  transition: all 0.25s;
}
.footer-socials svg:hover {
  fill: #b3fff1;
}

.arrow-up svg {
  width: 35px;
  padding: 10px;
  margin-top: 30px;
  background-color: transparent;
  border: 2px solid #00b998;
  fill: #00b998;
  transition: all 0.25s;
}
.arrow-up svg:hover {
  background-color: #00b998;
  fill: #1c1c1c;
}

#copyrights {
  color: #00b998;
}/*# sourceMappingURL=styles.css.map */