@import '../abstracts/variables';
@import '../abstracts/mixins';

html,
* {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: $main-font;
  text-align: center;
  background-color: $dark-gray;
  height: 100%;
}
html {
  height: 100%;
}
section {
  height: 100%;
}
